# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules/
packages/client/node_modules/
packages/server/node_modules/
packages/json-server/node_modules/
dist
dist-ssr
*.local

# Editor directories and files
/.vscode/*
packages/client/.vscode/*
packages/server/.vscode/*
packages/json-server/.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
sequelize-meta.json
sequelize-data.json
packages/server/.env
packages/server/sequelize-meta.json
packages/server/sequelize-data.json


